/* Estilos para el contenedor principal del carrito */
.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para cada elemento del carrito */
  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }

  .cart-item img {
    max-width: 100%;
    height: auto;
  }

  /* Estilos para los botones de acción */
  .cart-item button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #83b6ed;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .cart-item button:hover {
    background-color: #0056b3;
  }

  /* Estilos para el resumen del carrito */
  .cart-summary {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
  }

  /* Estilos para los botones del resumen */
  .cart-summary button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .cart-summary button:hover {
    background-color: #218838;
  }

  /* Estilos para el enlace de finalizar compra */
  .cart-summary a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }

  /* .cart-summary a:hover {
    background-color: #0056b3;
  }
   */