/* Estilos para el contenedor del widget de carrito */
.cart-widget-container {
  position:absolute;
  top: 50px;
  right: 500px;
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
}

/* Estilos para el icono del carrito */
.cart-icon {
  font-size: 1.5rem;
}

/* Estilos para la cantidad de elementos en el carrito */
.cart-counter {
  margin-left: 5px;
}
